services:
  app:
    image: skoptenco/counter-deploy:latest
    env_file:
      - ./backend/.env
    ports:
      - "80:8000"
    depends_on:
      - redis
    deploy:
      replicas: 4
      restart_policy:
        condition: on-failure
      placement:
        constraints: [ node.role == worker ]


  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "60", "1", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
